html {
  background-color: #c9b5ab;
  max-width: 608px;
  line-height: 1.5;
  color: #222;
  font-family: "PT Serif", serif;
}

h1, h2 {
  font-family: "PT Sans: bold", sans-serif;
  font-size: 1.5rem;
  color: #3f1622;
}

.navigation {
  list-style-type: none;
}

.navigation li a {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.125rem;
  color: #8f2440;
}

.navigation li a:hover {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.125rem;
  color: #3f1622;
}

main figure {
  font-style: italic;
  font-weight: 600;
  text-align: center;
  font-size: .8rem;
}

.germination {
  font-size: 1.125rem;
  font-weight: bold;
}

blockquote p {
  font-weight: 600;
  font-style: italic;
  text-align: center;
  font-size: 1.5rem;
}

.pratt {
  font-size: .8rem;
  font-style: italic;
  text-align: left;
}

ol {
  list-style-type: lower-greek;
}

dl dt {
  font-weight: bold;
}

dl dt:first-child, dd:nth-child(2) {
  font-weight: normal;
  font-style: italic;
}

aside ul {
  list-style-type: circle;
  font-size: .8rem;
}

footer small a {
  color: #8f2440;
}

footer small a:hover {
  text-decoration: underline;
  color: #3f1622;
}
